# Build folders
build/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

# Visual Studio generated
*.vcxproj
*.vcxproj.filters
*.sln
.vs/

# Compiled binaries
*.exe
*.dll
*.lib
*.obj
*.pdb